@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
/* logo部分 */
.logo{
    width: 120px;
    height: 97px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    z-index: 999;
    background: #242121;
    top: 2px;
}
.logo img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    vertical-align: middle;
    margin: auto;
}


/* 加盟优势内容部分 */
.add{
    padding-top:8.8%;
    padding-bottom: 2.8%;
    text-align: center;
}
.addcla{
    max-width: 770px;
    width: 96%;
    margin: auto;
    color: #5d5a57;
}
.addcla span{
    display: inline-block;
    font-size: 36px;
    line-height: 60px;
    border-bottom: 2px solid #5d5a57;
}
.addcla p{
    font-size: 18px;
    line-height: 36px;
    margin: 10px 0px 20px;
}
@media (max-width:480px){
    .addcla span{
        font-size: 22px;
        line-height: 50px;
        margin-top:10px;
    }
}
@media (max-width:480px){
    .addcla p{
        font-size: 14px;
        line-height: 28px;
    }
}

/* 文字部分 */
.container{
    width: 100%;
    max-width: 1350px;
    background: #edebea;
    margin: auto;
}
.wzbox{
    max-width: 790px;
    margin: auto;
    text-align: center;
    color: #5d5a57;
    font-size: 13px;
    padding: 20px 0px;
    line-height: 26px;
}
.wzbox p{
    margin: 30px;
}

/* 图片部分 */

.photo{
    width: 100%;
}
.photoul{
    width: 96%;
    margin: 0 auto;
    padding: 56px 0px;
    overflow: hidden;
}
.leftpic{
    width: 30%;
}
.leftpic img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    float:left;
    /* vertical-align: middle; */
    /* margin: auto; */
}
.photoul li{
    float: left;
    width: 50%;
}
.leftwz{
    width: 68%;
    float: right;
    color: #747373;
    font-size: 12px;
    line-height: 24px;
    padding-right: 2%;
}
.leftwz a:first-child{
    font-size: 16px;
    color: #505050;
    line-height: 24px;
    display: block;
}
.leftwz a:first-child:hover{
    color:#8b7143;
    font-weight: bold;
}
.leftwz .more{
    width: 105px;
    height: 30px;
    display: inline-block;
    background: #a99269;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.leftwz .more:hover{
    background: #84807e;
}
@media (max-width:640px){
    .photoul li{
        float: none;
        width: 100%;
        padding-bottom:20px;
    }
}
@media (max-width:640px){
    .leftpic{
        float: none;
        width: 30%;
        margin-bottom: 48px;
    }
}
@media (max-width: 640px){
    .leftpic img{
        width: 100%;
        margin:28px auto;
        }
    }
@media (max-width: 480px){
    .leftpic{
        width: 60%;
        margin:10px auto;
        }
    }
@media (max-width: 480px){
    .leftpic img{
        width: 100%;
        margin:10px auto;
        }
    }
@media (max-width: 480px){
.leftwz {
    width: 100%;
    text-align: center;
    }
}
